html {
	font-family: sans-serif;
	margin: 0 0;
}

.contenedor {
	width: 900px;
	margin: 0 auto 0 auto;
}

.centrarTexto {
	text-align: center;
}

/******************/
/****TITULOS*******/
/******************/

.titulo {
	margin-top: 60px;
	text-transform: uppercase;
	text-align: center;
	font-size: 30px;
}

.subtitulo {
	text-transform: uppercase;
	text-align: center;
}


/*********************/
/****NAVEGACION******/
/*******************/
.barra {
	background-color:  #006400;
}

.encabezado img {
	width: 10%;
}

.btn_menu {
	background-color: #1C63F1;
	padding: 10px 10px;	
}

.encabezado {
	display: flex;
	justify-content: space-between;
}

.encabezado .btn_menu {
	margin: 20px 2px;
	text-align: center;
}

.navegador {
	display: none;
}

.navegador_mobil.show {
	display: flex;
	flex-direction: column;
}

ul.navegador li {
	list-style: none;
	margin: 0px 0px;
	padding: 15px 20px;
}

.btn_menu a {
	text-decoration: none;
	color: white;
	text-align: center;
}

.navegador a {
	text-decoration: none;
	color: white;
}

.navegador li:hover {
	color: #1C63F1;
}

.navegador_mobil {
	display: none;
	width: 100%;
	background-color: #333333;
	text-align: center;
}

ul.navegador_mobil li {
	list-style: none;
	margin: 0px 0px;
	padding: 15px 20px;
}

ul.navegador_mobil li a {
	color: white;
	text-decoration: none;
	padding: 10px 50px;
	background-color: #1C63F1;
}

/******************/
/****PRODUCTOS*****/
/******************/
.listaProductos {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.productos {
	width: 50%;
    flex-basis: 320px;
    border: 1px solid #B5B5B5; 
}

.productos a {
	text-decoration: none;
	text-align: center;
}

.productos h3 {
	padding: 10px;
	background-color: #333333;
	color: white;
	
}

.productos img {
	width: 50%;
	height: 300px;
	margin-left: 120px;
}

.barraProductos {
	background-color: #333333;
	margin-top: 80px;
	padding: 30px;
	text-align: center;
	color: white;
	text-transform: uppercase;
}

/******************/
/****TABLA*******/
/******************/
#agregarTabla {
	margin-top: 30px;
	margin-left: 25%;
}

#tablaDinamica {
	margin-left: 25%;
}

table, th, td  {
	border: 1px solid black;
}

table {
	width: 50%;
	margin-top: 30px;
}

td {
	text-align: center;
}

th {
	background-color: #333333;
	color: white;
}

/******************/
/**FORMULARIO*****/
/****************/
input:not([type="submit"]) {
	padding: 5px;
	display: flex;
	flex-direction: initial;
	width: 50%;
	margin-bottom: 20px;
	background-color: #e1e1e1;
	border: none;
	border-radius: 10px;
}


fieldset {
	width: 50%;
	margin-left: 25%;
} 

/************************/
/******PRUEBA FORM******/
/***********************/

.errorNombre {
	display: none;
}

.errorEmail {
	display: none;
}

.errorDireccion {
	display: none;
}

.errorTelefono {
	display: none;
}

.error {
	display: none;
}

.correcto {
	display: none;
}

.vacio {
	display: none;
}

.msjEditar {
	display: none;
}

.msjErrorFiltro {
	display: none;
}

.avisoError {
	display: block;
	padding: 15px 5px;	
	width: 20%;
	margin: 0 0 10px 10px;
	background-color: #FAC6C6;
	color: #9F2F2F;
    text-align: center;
    border-radius: 5px;
}

.avisoCorrecto {
    display: block;
    padding: 15px 5px;
    width: 30%;
    background-color: #BDFAAA;
    color: #71A362;
    margin: 0 0 10px 10px;
    text-align: center;
    border-radius: 5px;
}

.avisoCorrectoMin {
	display: block;
    padding: 15px 5px;
    height: 15px;
    width: 30%;
    background-color: #BDFAAA;
    color: #71A362;
    margin: 0 0 10px 10px;
    text-align: center;
    border-radius: 5px;
}

	.avisoMsjEditar {
		display: block;
		width: 80%;
		margin: 15px 0 10px 10px;
		background-color: #FAC6C6;
		color: #9F2F2F;
	    text-align: center;
	    border-radius: 5px;
	}


#nuevoCaptcha {
	padding: 40px 10px;
	background-image: url("../img/fondo.jpeg");
	color: white;
	width: 25%;
	text-align: center;
}

.captcha img {
	width: 10%;
}




/******************/
/****FOOTER*******/
/******************/

.contenedorFooter {	
	width: 100%;
	display: flex;
	justify-content: space-between;
}

.footer {
	background-color: #006400;
	margin-top: 30px;
}

.copyright {
	color: white;	
	margin-top: 75px;
}


/*******************/
/*******Filtro******/
/*******************/
.little_th {
	width: 5px;
}

.tablaOculta {
	display: none;
}

.div-filtro-marca {
	margin-top: 10px;
	width: 100%;
	display: flex;
	justify-content: space-between;	
}

.div-filtro-marca .filtro {
	height: 20px;
	margin-top: 20px;
}

.div-filtro-talle {
	margin-top: 10px;
	width: 100%;
	display: flex;
	justify-content: space-between;	
}

.div-filtro-talle .filtro {
	height: 20px;
	margin-top: 20px;
}


.contenido-tabla {
	display: flex;
	justify-content: space-around;
}

.disabled {
	color: gray;	
}

.btn-min {
	margin: 0 5px 0 5px;
	width: 35%;
	height: 55%;
	margin-top: 20px;
}

.div-filtrar {
	display: flex;
	flex-direction: column;
}


/*******media*******/
/***** ACA ES PARA ESCRITORIO****/
@media only screen and (min-width: 480px) {	



	ul.navegador_mobil li {
		display: none;
	}

	.contenedor {
	width: 900px;
	margin: 0 auto 0 auto;
	}

	.barra {
		background-color:  #006400;
	}

	.encabezado img {
		width: 10%;
	}

	.btn_menu {
		display: none;
	}

	.encabezado {
		display: flex;
		justify-content: space-between;
		
	}

	.navegador {
		display: flex;
		flex-direction: row;
		list-style: none;
		margin-top: 80px;
	}

	.navegador li {
		margin: 0 15px;
	}

	.navegador a {
		text-decoration: none;
		color: white;
	}

	.navegador a:hover {
		color: #1C63F1;
	}

	/******************/
	/****TITULOS*******/
	/******************/

	.titulo {
		margin-top: 60px;
		text-transform: uppercase;
		text-align: center;
		font-size: 40px;
	}

	.subtitulo {
		text-transform: uppercase;
		text-align: center;
	}

	/******************/
	/****PRODUCTOS*****/
	/******************/
	.listaProductos {
		display: flex;
		flex-direction: row;
		justify-content: space-around;
	}

	.listaProductos img:hover {
		opacity:1;
	}

	.productos {
	    flex-basis: 320px;
	    border: 1px solid #B5B5B5; 
	}

	.productos a {
		text-decoration: none;
		text-align: center;
	}

	.productos h3 {
		padding: 10px;
		background-color: #333333;
		color: white;
		
	}

	.productos img {
		width: 100%;
		height: 300px;
		margin-left: 0px;
	}

	.barraProductos {
		background-color: #333333;
		margin-top: 80px;
		padding: 30px;
		text-align: center;
		color: white;
		text-transform: uppercase;
	}

	/******************/
	/****CAPTCHA*******/
	/******************/

	label {
		display: block;
		margin-bottom: 5px; 
	}

	input:not([type="submit"]) {
		padding: 5px;
		display: block;
		width: 90%;
		margin-bottom: 20px;
		background-color: #e1e1e1;
		border: none;
		border-radius: 10px;
	}

	fieldset {
	width: 95%;
	margin-left: 0;
	} 

	.captcha img {
		width: 30%;
		margin-bottom: 10px;
	}

	#btnValidar {
		color: #ffffff;
		background-color: #00008B;
		border: none;
		padding: 10px 30px;
		border-radius: 10px;
	}

	#btnValidar:hover {
		background-color: #225E23;
	}


	.captchaError {
		margin: 10px 0 10px 10px;
		width: 30%;
		display: block;
		padding: 5px 5px;
		background-color: #FA8585;
	}

	#nuevoCaptcha {
		padding: 40px 10px;
		background-image: url("../img/fondo.jpeg");
		color: white;
		width: 25%;
		text-align: center;
	}

	.actualizar {
		display: flex;
		align-content: space-around;
		align-items: baseline;
	}

	.icono {
		margin-left: 10px;
		padding: 10px 10px;
		background-color: #1C63F1;
	}

	.icono:hover {
		background-color: gray;
	}

	/******************/
	/****FOOTER*******/
	/******************/

	.contenedorFooter {	
		width: 100%;
		display: flex;
		justify-content: space-between;
	}

	.footer {
		background-color:#006400;
		margin-top: 30px;
	}

	.copyright {
		color: white;	
		margin-top: 75px;
	}


	/******************/
	/****TABLA*******/
	/******************/

	#agregarTabla {
		margin-top: 30px;
		margin-left: 0;
	}

	#tablaDinamica {
		margin-left: 0;
	}

	table, th, td  {
		border: 1px solid black;
	}

	table {
		width: 100%;
		margin-top: 30px;
	}

	td {
		text-align: center;
	}

	th {
		background-color: #333333;
		color: white;
	}


	/*************************/
	/************************/
	/******PRUEBA FORM******/
	/***********************/
	/***********************/

	.errorNombre {
		display: none;
	}

	.errorEmail {
		display: none;
	}

	.errorDireccion {
		display: none;
	}

	.errorTelefono {
		display: none;
	}

	.error {
		display: none;
	}

	.correcto {
		display: none;
	}

	.vacio {
		display: none;
	}

	.msjEditar {
		display: none;
	}

	.msjErrorFiltro {
		display: none;
	}

	.avisoMsjEditar {
		display: block;
		width: 80%;
		margin: 15px 0 10px 10px;
		background-color: #FAC6C6;
		color: #9F2F2F;
	    text-align: center;
	    border-radius: 5px;
	}

	.avisoError {
		display: block;
		padding: 15px 5px;	
		width: 30%;
		margin: 0 0 10px 10px;
		background-color: #FAC6C6;
		color: #9F2F2F;
	    text-align: center;
	    border-radius: 5px;
	}

	.avisoCorrecto {
    display: block;
    padding: 15px 5px;
    width: 30%;
    background-color: #BDFAAA;
    color: #71A362;
    margin: 0 0 10px 10px;
    text-align: center;
    border-radius: 5px;
	}
}

.resaltado {
	background-color: #BDFAAA;
}

.oferta {
	display: none;
}

.mostrarOferta {
	display: block;
	padding: 15px 5px;
    width: 90%;
    background-color: #BDFAAA;
    color: #71A362;
    margin: 20px 20px 10px 10px;
    text-align: center;
    border-radius: 5px;
}



/*******************/
/*******Filtro******/
/*******************/
.little_th {
	width: 5px;
}

.tablaOculta {
	display: none;
}

.div-filtro-marca {
	margin-top: 10px;
	width: 100%;
	display: flex;
	justify-content: space-between;	
}

.div-filtro-marca .filtro {
	height: 20px;
	margin-top: 20px;
}

.div-filtro-talle {
	margin-top: 10px;
	width: 100%;
	display: flex;
	justify-content: space-between;	
}

.div-filtro-talle .filtro {
	height: 20px;
	margin-top: 20px;
}


.contenido-tabla {
	display: flex;
	justify-content: space-around;
}

.disabled {
	color: gray;	
}

.btn-min {
	margin: 0 5px 0 5px;
	width: 35%;
	height: 55%;
	margin-top: 20px;
}

.div-filtrar {
	display: flex;
	flex-direction: column;
}

#btn-calcular {
	background-color: #00008B;
	color: white;
	padding: 5px 5px;

}

#btn-calcular:hover {
	background-color: #483D8B;
}

.inputForm {
	margin-top: 30px;
}

#js-resultado {
	background-color: #FF8C00;
	text-align: center;
}







